<div class="card border p-4 h-full border-gray-50 shadow-md">
  <div class="card-title">
    <img
      src="https://cdn-icons-png.flaticon.com/512/10149/10149878.png"
      class="w-6 h-6 block"
      alt=""
    />
    <span>IR Status</span>
  </div>
  <div class="p-2 h-full flex-col flex items-end justify-center">
    <!-- <div class="flex flex-col items-center justify-center">
      You do not have any taxes to be paid
    </div> -->
    <div class="carousel w-full">
      <div id="item1" class="carousel-item block w-full">
        <div class="flex flex-col items-center justify-center">
          <div class="flex items-center">
            <h5 class="font-semibold text-2xl mr-2">Mars, 2022</h5>
            <span class="badge badge-info text-white">info</span>
          </div>
          <div class="p-2">
            <p class="text-center">
              IR taxes for 03/2023 are available to be paid
            </p>
            <div class="flex justify-center">
              <label
                for="taxeir-modal"
                class="btn btn-primary btn-outline w-full mt-3"
                >Pay Now</label
              >
            </div>
          </div>
        </div>
      </div>
      <div id="item2" class="carousel-item w-full">
        <div class="flex flex-col items-center justify-center">
          You do not have any taxes to be paid
        </div>
      </div>
      <div id="item3" class="carousel-item w-full">
        <div class="flex flex-col items-center justify-center">
          You do not have any taxes to be paid
        </div>
      </div>
      <div id="item4" class="carousel-item w-full">
        <div class="flex flex-col items-center justify-center">
          You do not have any taxes to be paid
        </div>
      </div>
    </div>
    <div class="flex-1"></div>
    <div class="flex justify-center w-full py-2 gap-2">
      <a href="#item1" class="btn btn-xs">1</a>
      <a href="#item2" class="btn btn-xs">2</a>
      <a href="#item3" class="btn btn-xs">3</a>
      <a href="#item4" class="btn btn-xs">4</a>
    </div>
  </div>
</div>

<app-ir-tax-modal></app-ir-tax-modal>
