<div class="card border p-4 h-full border-gray-50 shadow-md">
  <div class="card-title">
    <img
      src="https://cdn-icons-png.flaticon.com/512/10149/10149878.png"
      class="w-6 h-6 block"
      alt=""
    />
    <span>IR Status</span>
  </div>
  <div class="p-2 h-full flex-col flex items-end justify-center">
    <div>
      <div class="flex flex-col items-center justify-center">
        <ng-container *ngIf="allTaxesDeclared; else taxeAvailable">
          <div class="flex items-center">
            <h5 class="font-semibold text-xl mr-2">All Taxes are Paid!</h5>
            <span class="badge badge-success text-white">info</span>
          </div>
          <div class="p-2">
            <p class="text-center">All IR taxes for 03/2023 have been paid</p>
          </div>
        </ng-container>
        <ng-template #taxeAvailable>
          <div class="flex items-center">
            <h5 class="font-semibold text-2xl mr-2">Mars, 2022</h5>
            <span class="badge badge-info text-white">info</span>
          </div>
          <div class="p-2">
            <p class="text-center">
              you still have <b>{{ undeclaredEmployeesLength }} undeclared</b>
              employees for 03/2023
            </p>
            <div class="flex justify-center">
              <label
                for="taxeir-modal"
                class="btn btn-primary btn-outline w-full mt-3"
                >Declare Now</label
              >
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<app-ir-tax-modal [employees]="employees"></app-ir-tax-modal>
