<div class="card shadow-md card-body bg-violet-300 text-violet-900 rounded-2xl">
  <div class="grid grid-cols-3 items-center">
    <div class="col-span-2">
      <h6 class="text-sm font-semibold">Current Employees</h6>
      <h3 class="text-3xl font-bold">{{ empCount$ | async }}</h3>
    </div>
    <div class="flex justify-center w-full">
      <fa-icon [icon]="faUser" size="2xl"></fa-icon>
    </div>
  </div>
  <div class="flex items-center gap-2">
    <div class="flex items-center gap-1">
      <span class="text-xs">Last Month</span>
      <span class="text-xs text-violet-500">+10%</span>
    </div>
    <div class="flex items-center gap-1">
      <span class="text-xs">Last Year</span>
      <span class="text-xs text-violet-500">+10%</span>
    </div>
  </div>
</div>
