<app-dashboard-layout>
  <div class="mb-4">
    <app-banner
      [buttonText]="'Learn More'"
      [title]="'Add Your Employee With Ease'"
      [description]="
        'Add your employee with ease and get started with your payroll management system.'
      "
    >
    </app-banner>
  </div>
  <div class="flex">
    <!-- <app-emp-taxes-table></app-emp-taxes-table> -->
    <!-- <app-latest-emp-widget></app-latest-emp-widget> -->
    <div class="w-full md:w-2/3">
      <app-emps-table></app-emps-table>
    </div>
    <div class="w-full max-w-full px-3 md:w-1/3 md:flex-none h-fit">
      <div class="mb-3">
        <app-emps-card></app-emps-card>
      </div>
      <div class="mb-2">
        <app-ir-taxes-widgets></app-ir-taxes-widgets>
      </div>
      <div>
        <app-ir-taxes-list-widget></app-ir-taxes-list-widget>
      </div>
    </div>
  </div>
</app-dashboard-layout>
