<input type="checkbox" id="invoice-modal" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg mb-3">{{ type }} Invoice</h3>
    <!-- <p class="text-sm mb-3">Add a new employee to your account.</p> -->
    <div class="flex gap-2 items-center justify-between mb-2">
      <select
        [(ngModel)]="invoice.type"
        class="select select-warning w-full max-w-xs m-auto"
      >
        <option disabled selected [value]="'default'">
          Choose Invoice Type
        </option>
        <option [value]="'EXPENSE'">EXPENSE</option>
        <option [value]="'INCOME'">INCOME</option>
      </select>
    </div>

    <div class="mb-2">
      <input
        [(ngModel)]="invoice.dateFacture"
        type="date"
        placeholder="Date"
        class="input input-bordered w-full md:mb-auto mb-2 md:max-w-xs block mx-auto"
      />
    </div>
    <div class="md:flex gap-2 items-center justify-between mb-2 xs:w-full">
      <input
        type="number"
        placeholder="Montant HT"
        [(ngModel)]="invoice.montantHT"
        class="input input-bordered w-full md:mb-auto mb-2 md:max-w-xs block mx-auto"
      />
    </div>
    <!-- Add age and salary inputs -->
    <div class="md:flex gap-2 items-center justify-between mb-2 xs:w-full">
      <input
        type="number"
        placeholder="Montant TTC"
        [(ngModel)]="invoice.montantTTC"
        class="input input-bordered w-full md:mb-auto mb-2 md:max-w-xs block mx-auto"
      />
    </div>
    <div class="modal-action">
      <label for="invoice-modal" class="btn btn-outline">Cancel</label>
      <label for="invoice-modal" class="btn" (click)="saveInvoice()"
        >Save</label
      >
    </div>
  </div>
</div>
